@import "../../public/styles/partials/variables";
.banner {
    background: $primary-color;
    color: $text-color;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  
    .container {
      max-width: 1200px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      gap: 1rem;
    }
  
    .text {
      flex: 1;
      max-width: 600px;
  
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        span {
          color: $hover-color;
        }
      }
  
      p {
        font-size: 1.2rem;
        opacity: 0.9;
        margin-bottom: 1.5rem;
      }
  
      button {
        background: $hover-color;
        color: $primary-color;
        border: none;
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
        
        &:hover {
          background: $hover-color;
        }
      }
    }
  
    .image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
  
      img {
        max-width: 400px;
        width: 100%;
      }
    }
  
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        text-align: center;
      }
  
      .text {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
  
      .image img {
        max-width: 300px;
      }
    }
  }
  